*{
    margin: 0;
    padding: 0;
    color: var(--text-color, white)
}

.bg-body-tertiary{

    width: auto;
    height: 3.8vh;
    position: sticky;
}

.body-bg-main{
    background-color: rgb(73, 44, 109);
    
}

#home{
    color: white;
}

.text{
    color: var(--text-color);
}